/* Universal: Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--color-one);
}
/* Universal: End */

/* Root: Start */
:root {
  /* Colors */
  --color-one: #ffffff;
  --color-two: #ff90bc;
  --color-three: #8acdd7;
  /* Fonts Styles */
  --font-size-biggest: 48px;
  --font-size-bigger: 30px;
  --font-size-big: 24px;
  --font-size-normal: 16px; /* 1 rem*/
  --font-size-small: 12px;
  --font-size-smaller: 10px;
  --font-size-smallest: 8px;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 800;
}
/* Root: End */

/* Body: Start */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-two);
}
/* Body: End */

/* Content: Start */
.welcome {
  font-size: var(--font-size-bigger);
  margin: 30px;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border: none;
  outline: none;
  width: 100%;
  background: var(--color-one);
  border-radius: 10px;
  font-size: var(--font-size-normal);
  color: var(--color-two);
  cursor: pointer;
}
.logout:hover {
  background: var(--color-three);
  color: var(--color-one);
  transition: 0.3s;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.links img {
  width: 40px;
  padding: 10px;
  background: var(--color-one);
  border-radius: 30%;
  margin: 5px;
}
.links img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
}
/* Content: End */
